@inject NavigationManager navigationManager

<button type="button"
        @onclick="OnNavigationLinkClick"
        class="inline-flex flex-col items-center justify-center px-5 border-gray-200 border-x hover:bg-gray-50 dark:hover:bg-gray-800 group dark:border-gray-600">
    <svg class="w-5 h-5 mb-2 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path d="@svgPath"></path>
        </g>
    </svg>
    <span
        class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">@linkName</span>
</button>

@code {
    [Parameter] public string linkName { get; set; } = string.Empty;
    [Parameter] public string svgPath { get; set; } = string.Empty;
    [Parameter] public bool isSelected { get; set; } = false;
    [Parameter] public string route { get; set; } = "/";


    private void OnNavigationLinkClick()
    {
        navigationManager.NavigateTo(route);
    }
}