<div class="flex flex-row justify-content-between items-center w-full">
    <p>@fieldName</p>
    <input type="@inputType" name="@inputName" value="@inputDefaultValue"/>
</div>

@code {
    private static readonly string DEFAULT_INPUT = "text";
    
    [Parameter] 
    public string fieldName { get; set; } = string.Empty;

    [Parameter] 
    public string inputType { get; set; } = DEFAULT_INPUT;

    [Parameter] 
    public string inputName { get; set; } = string.Empty;

    [Parameter] 
    public string inputDefaultValue { get; set; } = string.Empty;
}