<div class="flex flex-row justify-content-between items-center w-full @styleClass">
    <p class="my-auto">@fieldName</p>
    @ChildContent
</div>

@code {
    [Parameter] 
    public string fieldName { get; set; } = string.Empty;
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string styleClass { get; set; } = string.Empty;
}