@using System.Globalization

<div class="flex flex-row justify-stretch items-stretch border-1 border-gray-200 px-2 min-h-16">
    <div class="grow-1 flex items-center">
        <p class="my-auto">@category</p>
    </div>
    <div class="grow-4 flex items-center">
        <p class="my-auto">@description</p>
    </div>
    <div class="grow-1 flex items-center">
        <p class="my-auto">$@amount.ToString(CultureInfo.CurrentUICulture)</p>
    </div>
</div>

@code {
    [Parameter]
    public string category { get; set; } = string.Empty;
    [Parameter]
    public string description { get; set; } = string.Empty;
    [Parameter]
    public decimal amount { get; set; } = 0m;
}