<div class="flex flex-row justify-between border-1 border-gray-200 p-4">
    <div class="justify-items-start flex flex-row">
        <h2 class="w-1/5 font-bold">Category</h2>
        <p class="">Transport feess</p>
    </div>
    <div class="w-1/5">
        <h2>Total: $1000</h2>
    </div>
</div>

@code {
    
}